video
training
penghitungkendaraan/classifier/archive/*
penghitungkendaraan/classifier/archivebaru/*
*.pyc
*.db
contoh
test
__pycache__
nolog
logklasifikasi
penghitungkendaraan/gambar_output/**/*.png
logs.csv
debug
logs_gabungan.csv
logs_gabungan.json
