video
training
hitungkendaraan/classifier/archivebaru/*
sistempenghitungkendaraan/classifier/archive/*
hitungkendaraan/classifier/archivebaru/*
sistempenghitungkendaraan/classifier/archivebaru/*
penghitungkendaraan/classifier/archivebaru/*
*.pyc
*.db
contoh
test
__pycache__
nolog
logklasifikasi
sistempenghitungkendaraan/gambar_output/**/*.png
penghitungkendaraan/gambar_output/**/*.png
logs.csv
debug
logs_gabungan.csv
logs_gabungan.json
gabungan.mp4
pagi.mp4
siang.mp4
sore.mp4
